[submodule "pascalle/debiased-ot-barycenters"]
	path = pascalle/debiased-ot-barycenters
	url = https://github.com/hichamjanati/debiased-ot-barycenters.git
[submodule "pascalle/pascalle/debiased_ot_barycenters"]
	path = pascalle/pascalle/debiased_ot_barycenters
	url = https://github.com/hichamjanati/debiased-ot-barycenters.git
